@import url('./index.css');

body {
  background-color: #FBFBFD;
}
body.dark {
  background-color: #020817;
}

.left-placholder::before {
  content: attr(placeholder);
  position: relative;
  left: 20px;
}

input:active, input:focus, input:blur {
  outline: none;
}

.custom_scroll {
  overflow-y: auto;
}

.custom_scroll::-webkit-scrollbar {
  position: absolute;
  width: 6px;
}
.custom_scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom_scroll::-webkit-scrollbar-thumb {
  background: #999999; 
  border-radius: 10px;
}
